{% extends "dex/000.html" %}

<!-- Name -->
{% set prior = "12" %}
{% set next = "14" %}
{% set number = "13" %}
{% set name = "Weedle" %}
{% block title %}{{number}} - {{name}}{% endblock %}
{% block name %}{{number}} - {{name}} (ビードル) {% endblock %}

<!-- Images -->
{% set has_female_sprites = False %}
{% block images %}
    {{ super() }}
{% endblock %}

<!-- Flavor Text -->
{% block flavor_1 %}
"Its poison stinger is very powerful. Its bright-colored body is intended to warn off its enemies."
{% endblock %}
{% block flavor_2 %}
"It attacks using a two-inch poison barb on its head. It can usually be found under the leaves it eats."
{% endblock %}

<!-- General Info -->
{% block p_classification %}
Hairy
{% endblock %}
{% block p_height %}
1'00"
{% endblock %}
{% block p_weight %}
7.1
{% endblock %}
{% block p_capture_rate %}
255
{% endblock %}
{% block p_egg_steps %}
3,840
{% endblock %}
{% block p_egg_groups %}
Bug
{% endblock %}
{% block exp_growth %}
1,000,000 - Medium Fast
{% endblock %}
{% block safarizone %}
0
{% endblock %}
{% block color %}
Brown
{% endblock %}
{% block base_happiness %}
70
{% endblock %}
{% block gender_ratio %}
♂: 50% &emsp; ♀: 50%
{% endblock %}

<!-- Held Item -->
{% set has_held_item = False %}
{% set held_items = None %}
{% block held_item %}
    {{ super() }}
{% endblock %}

<!-- Damage -->
{% set damage = ['1', '2', '1', '1', '0.25', '1', '0.25', '0.5', '1', '2', '2', '0.5', '2', '1', '1', '1', '1'] %}
{% block damages %}
    {{ super() }}
{% endblock %}

<!-- Locations -->
{% set location = ['Bug Catching Contest', 'Route 2, Route 30, Route 31, Ilex Forest, National Park, Viridian Forest, Ilex Forest (Headbutt), Bug Catching Contest'] %}
{% set has_pokewalker = False %}
{% set has_items = False %}
{% set pokewalker = None %}
{% block location %}
    {{ super() }}
{% endblock %}

<!-- Stats -->
{% set hp = 40 %}
{% set hp_width = 16 %}
{% set hprange50 = "100 - 147" %}
{% set hprange100 = "190 - 284" %}
{% block stat_hp %}
    {{ super() }}
{% endblock %}

{% set att = 35 %}
{% set att_width = 14 %}
{% set attrange50 = "36 - 95" %}
{% set attrange100 = "67 - 185" %}
{% block stat_att %}
    {{ super() }}
{% endblock %}

{% set def = 30 %}
{% set def_width = 12 %}
{% set defrange50 = "31 - 90" %}
{% set defrange100 = "58 - 174" %}
{% block stat_def %}
    {{ super() }}
{% endblock %}

{% set spatt = 20 %}
{% set spatt_width = 8 %}
{% set spattrange50 = "22 - 79" %}
{% set spattrange100 = "40 - 152" %}
{% block stat_spatt %}
    {{ super() }}
{% endblock %}

{% set spdef = 20 %}
{% set spdef_width = 8 %}
{% set spdefrange50 = "22 - 79" %}
{% set spdefrange100 = "40 - 152" %}
{% block stat_spdef %}
    {{ super() }}
{% endblock %}

{% set spd = 50 %}
{% set spd_width = 20 %}
{% set spdrange50 = "49 - 112" %}
{% set spdrange100 = "94 - 218" %}
{% block stat_spd %}
    {{ super() }}
{% endblock %}

{% set statsum = 195 %}
{% set statsumwidth = 27 %}
{% block stat_sum %}
    {{ super() }}
{% endblock %}

<!-- EV -->
{% set ev_spread = ['0', '0', '0', '0', '0', '1'] %}
{% block ev %}
    {{ super() }}
{% endblock %}

<!-- Abilities -->
{% set abilities = [['Shield Dust', "If the opponent uses a move that has secondary effects that affect this Pokemon in addition to damage, the move's secondary effects will not trigger. (For example, an Ice Beam will lose its 10% chance to freeze this Pokemon.)"]] %}
{% block abilities %}
    {{ super() }}
{% endblock %}

<!-- Learned Moves -->
{% set learned_moves = [['0', 'Poison Sting', 'Poison', 'Physical', '15', '100%', '35', 'The foe is stabbed with a poisonous barb of some sort. It may also poison the target.'], ['0', 'String Shot', 'Bug', 'Status', '-', '95%', '40', "The foe is bound with silk blown from the user's mouth. It reduces the target's Speed stat."], ['15', 'Bug Bite', 'Bug', 'Physical', '60', '100%', '20', 'The user bites the foe. If the foe is holding a Berry, the user eats it and gains its effect.']] %}
{% block learned %}
    {{ super() }}
{% endblock %}

<!-- TMHM -->
{% set tmhm_list = [] %}
{% set has_TMHM = True %}
{% block TMHM %}
    {{ super() }}
{% endblock %}

<!-- Tutor -->
{% set tutor_list = None %}
{% set has_tutor_moves = False %}
{% block tutor %}
    {{ super() }}
{% endblock %}

<!-- Egg Moves -->
{% set egg_move_list = None %}
{% set has_egg_moves = False %}
{% block egg_moves %}
    {{ super() }}
{% endblock %}