{% extends "dex/000.html" %}

<!-- Name -->
{% set prior = "234" %}
{% set next = "236" %}
{% set number = "235" %}
{% set name = "Smeargle" %}
{% block title %}{{number}} - {{name}}{% endblock %}
{% block name %}{{number}} - {{name}} (ドーブル) {% endblock %}

<!-- Images -->
{% set has_female_sprites = False %}
{% block images %}
    {{ super() }}
{% endblock %}

<!-- Flavor Text -->
{% block flavor_1 %}
"A special fluid oozes from the tip of its tail. It paints the fluid everywhere to mark its territory."
{% endblock %}
{% block flavor_2 %}
"Once it becomes an adult, it has a tendency to let its comrades plant footprints on its back."
{% endblock %}

<!-- General Info -->
{% block p_classification %}
Painter
{% endblock %}
{% block p_height %}
3'11"
{% endblock %}
{% block p_weight %}
127.9
{% endblock %}
{% block p_capture_rate %}
45
{% endblock %}
{% block p_egg_steps %}
5,120
{% endblock %}
{% block p_egg_groups %}
Ground
{% endblock %}
{% block exp_growth %}
800,000 - Fast
{% endblock %}
{% block safarizone %}
60
{% endblock %}
{% block color %}
White
{% endblock %}
{% block base_happiness %}
70
{% endblock %}
{% block gender_ratio %}
♂: 50% &emsp; ♀: 50%
{% endblock %}

<!-- Held Item -->
{% set has_held_item = False %}
{% set held_items = None %}
{% block held_item %}
    {{ super() }}
{% endblock %}

<!-- Damage -->
{% set damage = ['1', '1', '1', '1', '1', '1', '2', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1'] %}
{% block damages %}
    {{ super() }}
{% endblock %}

<!-- Locations -->
{% set location = ['Ruins of Alph, Safari Zone', 'Ruins of Alph, Safari Zone'] %}
{% set has_pokewalker = False %}
{% set has_items = False %}
{% set pokewalker = None %}
{% block location %}
    {{ super() }}
{% endblock %}

<!-- Stats -->
{% set hp = 55 %}
{% set hp_width = 22 %}
{% set hprange50 = "115 - 162" %}
{% set hprange100 = "220 - 314" %}
{% block stat_hp %}
    {{ super() }}
{% endblock %}

{% set att = 20 %}
{% set att_width = 8 %}
{% set attrange50 = "22 - 79" %}
{% set attrange100 = "40 - 152" %}
{% block stat_att %}
    {{ super() }}
{% endblock %}

{% set def = 35 %}
{% set def_width = 14 %}
{% set defrange50 = "36 - 95" %}
{% set defrange100 = "67 - 185" %}
{% block stat_def %}
    {{ super() }}
{% endblock %}

{% set spatt = 20 %}
{% set spatt_width = 8 %}
{% set spattrange50 = "22 - 79" %}
{% set spattrange100 = "40 - 152" %}
{% block stat_spatt %}
    {{ super() }}
{% endblock %}

{% set spdef = 45 %}
{% set spdef_width = 18 %}
{% set spdefrange50 = "45 - 106" %}
{% set spdefrange100 = "85 - 207" %}
{% block stat_spdef %}
    {{ super() }}
{% endblock %}

{% set spd = 75 %}
{% set spd_width = 29 %}
{% set spdrange50 = "72 - 139" %}
{% set spdrange100 = "139 - 273" %}
{% block stat_spd %}
    {{ super() }}
{% endblock %}

{% set statsum = 250 %}
{% set statsumwidth = 35 %}
{% block stat_sum %}
    {{ super() }}
{% endblock %}

<!-- EV -->
{% set ev_spread = ['0', '0', '0', '0', '0', '1'] %}
{% block ev %}
    {{ super() }}
{% endblock %}

<!-- Abilities -->
{% set abilities = [['Own Tempo', 'This Pokemon cannot become confused.'], ['Technician', "When this Pokemon uses an attack that has 60 Base Power or less, the move's Base Power receives a 50% boost. For example, a move with 60 Base Power effectively becomes a move with 90 Base Power."]] %}
{% block abilities %}
    {{ super() }}
{% endblock %}

<!-- Learned Moves -->
{% set learned_moves = [['0', 'Sketch', 'Normal', 'Status', '-', '-', '1', 'It enables the user to permanently learn the move last used by the foe. Once used, Sketch disappears.']] %}
{% block learned %}
    {{ super() }}
{% endblock %}

<!-- TMHM -->
{% set tmhm_list = None %}
{% set has_TMHM = False %}
{% block TMHM %}
    {{ super() }}
{% endblock %}

<!-- Tutor -->
{% set tutor_list = None %}
{% set has_tutor_moves = False %}
{% block tutor %}
    {{ super() }}
{% endblock %}

<!-- Egg Moves -->
{% set egg_move_list = None %}
{% set has_egg_moves = False %}
{% block egg_moves %}
    {{ super() }}
{% endblock %}