{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="content-block">
    <center>
        <h1>Home</h1>
    </center>
    <p>
        This is a database for the fourth generation Pokémon games <img src="{{ url_for('static', filename='img/hg.png') }}" alt="hg" class="no-pixelate" />Heartgold and <img src="{{ url_for('static', filename='img/ss.png') }}" alt="hg" class="no-pixelate" />Soulsilver games.
    </p>
    <h2>Index</h2>
    <ul id="navigation">
        {% for item in get_navigation() %}
        <li><a href={{ item[0] }}>{{ item[1] }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}