{% extends "base.html" %}
{% block content %}
<div class="content-block">
    
    <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <!-- Left Block -->
        <div class="dexblock">
            <h1> {% block name %}{% endblock %} </h1>
            
            {% block images %}
                <div class="image-container">
                    {% if has_female_sprites %}
                    <h4>Male Sprites</h4>
                    {% endif %}
                    <img src="{{ url_for('static', filename='img/sprites/front/' + number + '.png') }}" alt="pokemon front">
                    <img src="{{ url_for('static', filename='img/sprites/shiny/' + number + '.png') }}" alt="pokemon shiny front">
                    <img src="{{ url_for('static', filename='img/sprites/back/' + number + '.png') }}" alt="pokemon back">
                    <img src="{{ url_for('static', filename='img/sprites/back/shiny/' + number + '.png') }}" alt="pokemon shiny back">
                </div>
                
                {% if has_female_sprites %}
                <div class="image-container">
                    <h4>Female Sprites</h4>
                    <img src="{{ url_for('static', filename='img/sprites/female/' + number + '.png') }}" alt="pokemon female front">
                    <img src="{{ url_for('static', filename='img/sprites/shiny/female/' + number + '.png') }}" alt="pokemon shiny female front">
                    <img src="{{ url_for('static', filename='img/sprites/back/female/' + number + '.png') }}" alt="pokemon female back">
                    <img src="{{ url_for('static', filename='img/sprites/back/shiny/female/' + number + '.png') }}" alt="pokemon shiny female back">
                </div>
                {% endif %}
            {% endblock %}    

        <p><img src="{{ url_for('static', filename='img/hg.png') }}"/> {% block flavor_1 %}{% endblock %} </p>
        <p><img src="{{ url_for('static', filename='img/ss.png') }}"/> {% block flavor_2 %}{% endblock %} </p>
        </div>

        <!-- Right Block -->
        <div class="dexblock" style="right: calc(15% + 20px);">
            <table>
                <tr>
                    <th>Classification</th>
                    <td>{% block p_classification %}{% endblock %} Pok&eacute;mon</td>
                </tr>
                <tr>
                    <th>Height</th>
                    <td>{% block p_height %}{% endblock %}</td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>{% block p_weight %}{% endblock %} lbs</td>
                </tr>
                <tr>
                    <th>Capture Rate</th>
                    <td>{% block p_capture_rate %}{% endblock %}</td>
                </tr>
                <tr>
                    <th>Egg Steps</th>
                    <td>{% block p_egg_steps %}{% endblock %}</td>
                </tr>
                <tr>
                    <th>Egg Groups</th>
                    <td>{% block p_egg_groups %}{% endblock %}</td>
                </tr>
                <tr>
                    <th>Experience Growth</th>
                    <td>{% block exp_growth %}{% endblock %}</td>
                </tr>
                <tr>
                    <th>Safari Zone Flee Rate</th>
                    <td>{% block safarizone %}{% endblock %}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>{% block color %}{% endblock %}</td>
                </tr>
            </table>
            <p></p>
            <table>
                <tr>
                    <th>Held Item</th>
                    <th>Chance</th>
                </tr>
                {% block held_item %}
                {% for item in held_items %}
                    <tr>
                        <td> {{item[0]}} </td>
                        <td> {{item[1]}}% </td>
                    </tr>
                {% endfor %}
                {% endblock %}
            </table>

        </div>
    </div>

    <!-- Below Split -->
    <div>
        <!-- Damage -->
        <table class="plainTable">
            <tr>
                <th><img src="{{ url_for('static', filename='img/types/normal.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/fire.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/water.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/electric.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/grass.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/ice.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/fighting.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/poison.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/ground.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/flying.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/psychic.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/bug.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/rock.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/ghost.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/dragon.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/dark.png') }}"/></th>
                <th><img src="{{ url_for('static', filename='img/types/steel.png') }}"/></th>
            </tr>
            {% block damages %}
            <tr>
            {% for item in damage %}
                    <td> {{item}} </td>
            {% endfor %}
            </tr>
            {% endblock %}
        </table>

        <!-- Stats
        Not sure why the bars throw errors but the code works anyway soo....
        --> 
        <table class="stats-table">
            <tr>
                <th class="stat-header" rowspan="2">Stat</th>
                <th rowspan="2">Base</th>
                <th class="stat-range" colspan="2">Range</th>
            </tr>
            <tr>
                <th>At Lv. 50</th>
                <th>At Lv. 100</th>
            </tr>
            <tr>
                <td class="stat-name">HP:</td>
                {% block stat_hp %}
                <td>
                    <div class="stat-bar-container">
                        <div class="stat-bar hp" style="width: {{hp_width}}%;">
                        &nbsp; {{hp}}
                        </div>
                    </div>
                </td>
                <td>{{hprange50}}</td>
                <td>{{hprange100}}</td>
                {% endblock %}
            </tr>
            <tr>
                <td class="stat-name">Attack:</td>
                {% block stat_att %}
                <td>
                    <div class="stat-bar-container">
                        <div class="stat-bar att" style="width: {{att_width}}%;">
                        &nbsp; {{att}}
                        </div>
                    </div>
                </td>
                <td>{{attrange50}}</td>
                <td>{{attrange100}}</td>
                {% endblock %}
            </tr>
            <tr>
                <td class="stat-name">Defense:</td>
                {% block stat_def %}
                <td>
                    <div class="stat-bar-container">
                        <div class="stat-bar def" style="width: {{def_width}}%;">
                        &nbsp; {{def}}
                        </div>
                    </div>
                </td>
                <td>{{defrange50}}</td>
                <td>{{defrange100}}</td>
                {% endblock %}
            </tr>
            <tr>
                <td class="stat-name">Special Attack:</td>
                {% block stat_spatt %}
                <td>
                    <div class="stat-bar-container">
                        <div class="stat-bar spatt" style="width: {{spatt_width}}%;">
                        &nbsp; {{spatt}}
                        </div>
                    </div>
                </td>
                <td>{{spattrange50}}</td>
                <td>{{spattrange100}}</td>
                {% endblock %}
            </tr>
            <tr>
                <td class="stat-name">Special Defense:</td>
                {% block stat_spdef %}
                <td>
                    <div class="stat-bar-container">
                        <div class="stat-bar spdef" style="width: {{spdef_width}}%;">
                        &nbsp; {{spdef}}
                        </div>
                    </div>
                </td>
                <td>{{spdefrange50}}</td>
                <td>{{spdefrange100}}</td>
                {% endblock %}
            </tr>
            <tr>
                <td class="stat-name">Speed:</td>
                {% block stat_spd %}
                <td>
                    <div class="stat-bar-container">
                        <div class="stat-bar spd" style="width: {{spd_width}}%;">
                        &nbsp; {{spd}}
                        </div>
                    </div>
                </td>
                <td>{{spdrange50}}</td>
                <td>{{spdrange100}}</td>
                {% endblock %}
            </tr>
            <tr>
                <td>Total:</td>
                <td>253</td>
                <td colspan="2"></td>
            </tr>
        </table>

        <!-- EVs -->
        <table class="plainTable">
            <tr>
                <th>HP</th>
                <th>Att.</th>
                <th>Def.</th>
                <th>Sp.Att.</th>
                <th>Sp.Def.</th>
                <th>Speed</th>
            </tr>
            {% block ev %}
            <tr>
            {% for item in ev_spread %}
                <td> {{item[0]}} </td>
            {% endfor %}
            </tr>
            {% endblock %}
        </table>

        <!-- Abilities -->
    </div>
</div>
{% endblock %}