{% extends "dex/000.html" %}

<!-- Name -->
{% set number = "19" %}
{% set name = "Rattata" %}
{% block title %}{{number}} - {{name}}{% endblock %}
{% block name %}{{number}} - {{name}} (コラッタ) {% endblock %}

<!-- Images -->
{% set has_female_sprites = True %}
{% block images %}
{{ super() }}
{% endblock %}

<!-- Flavor Text -->
{% block flavor_1 %}
"It eats anything. Wherever food is available, it will settle down and produce offspring continuously."
{% endblock %}
{% block flavor_2 %}
"Living wherever there is food available, it ceaselessly scavenges for edibles the entire day."
{% endblock %}

<!-- General Info -->
{% block p_classification %}
Mouse
{% endblock %}
{% block p_height %}
1'00"
{% endblock %}
{% block p_weight %}
7.7
{% endblock %}
{% block p_capture_rate %}
255
{% endblock %}
{% block p_egg_steps %}
3,840
{% endblock %}
{% block p_egg_groups %}
Ground
{% endblock %}
{% block exp_growth %}
1,000,000 - Medium Fast
{% endblock %}
{% block safarizone %}
120
{% endblock %}
{% block color %}
Purple
{% endblock %}

<!-- Held Item -->
{% set held_items = [["Chilan Berry", 5]] %}
{% block held_item %}
    {{ super() }}
{% endblock %}

<!-- Damage -->
{% set damage = ["1","1","1","1","1","1","2","1","1","1","1","1","1","0","1","1","1"] %}
{% block damages %}
    {{ super() }}
{% endblock %}

<!-- EV -->
{% set ev_spread = ["0","0","0","0","0","1"] %}
{% block ev %}
    {{ super() }}
{% endblock %}