{% extends "dex/000.html" %}

<!-- Name -->
{% set prior = "200" %}
{% set next = "202" %}
{% set number = "201" %}
{% set name = "Unown" %}
{% block title %}{{number}} - {{name}}{% endblock %}
{% block name %}{{number}} - {{name}} (アンノーン) {% endblock %}

<!-- Images -->
{% set has_female_sprites = False %}
{% block images %}
    {{ super() }}
{% endblock %}

<!-- Flavor Text -->
{% block flavor_1 %}
"Their shapes look like hieroglyphs on ancient tablets. It is said that the two are somehow related."
{% endblock %}
{% block flavor_2 %}
"Its flat, thin body is always stuck on walls. Its shape appears to have some meaning."
{% endblock %}

<!-- General Info -->
{% block p_classification %}
Symbol
{% endblock %}
{% block p_height %}
1'08"
{% endblock %}
{% block p_weight %}
11.0
{% endblock %}
{% block p_capture_rate %}
225
{% endblock %}
{% block p_egg_steps %}
10,240
{% endblock %}
{% block p_egg_groups %}
Unown cannot breed
{% endblock %}
{% block exp_growth %}
1,000,000 - Medium Fast
{% endblock %}
{% block safarizone %}
0
{% endblock %}
{% block color %}
Black
{% endblock %}
{% block base_happiness %}
70
{% endblock %}
{% block gender_ratio %}
♂: G% &emsp; ♀: e%
{% endblock %}

<!-- Held Item -->
{% set has_held_item = False %}
{% set held_items = None %}
{% block held_item %}
    {{ super() }}
{% endblock %}

<!-- Damage -->
{% set damage = ['1', '1', '1', '1', '1', '1', '0.5', '1', '1', '1', '0.5', '2', '1', '2', '1', '2', '1'] %}
{% block damages %}
    {{ super() }}
{% endblock %}

<!-- Locations -->
{% set location = ['Ruins of Alph', 'Ruins of Alph'] %}
{% set has_pokewalker = False %}
{% set has_items = False %}
{% set pokewalker = None %}
{% block location %}
    {{ super() }}
{% endblock %}

<!-- Stats -->
{% set hp = 48 %}
{% set hp_width = 19 %}
{% set hprange50 = "108 - 155" %}
{% set hprange100 = "206 - 300" %}
{% block stat_hp %}
    {{ super() }}
{% endblock %}

{% set att = 72 %}
{% set att_width = 28 %}
{% set attrange50 = "69 - 136" %}
{% set attrange100 = "134 - 267" %}
{% block stat_att %}
    {{ super() }}
{% endblock %}

{% set def = 48 %}
{% set def_width = 19 %}
{% set defrange50 = "47 - 110" %}
{% set defrange100 = "90 - 214" %}
{% block stat_def %}
    {{ super() }}
{% endblock %}

{% set spatt = 72 %}
{% set spatt_width = 28 %}
{% set spattrange50 = "69 - 136" %}
{% set spattrange100 = "134 - 267" %}
{% block stat_spatt %}
    {{ super() }}
{% endblock %}

{% set spdef = 48 %}
{% set spdef_width = 19 %}
{% set spdefrange50 = "47 - 110" %}
{% set spdefrange100 = "90 - 214" %}
{% block stat_spdef %}
    {{ super() }}
{% endblock %}

{% set spd = 48 %}
{% set spd_width = 19 %}
{% set spdrange50 = "47 - 110" %}
{% set spdrange100 = "90 - 214" %}
{% block stat_spd %}
    {{ super() }}
{% endblock %}

{% set statsum = 336 %}
{% set statsumwidth = 47 %}
{% block stat_sum %}
    {{ super() }}
{% endblock %}

<!-- EV -->
{% set ev_spread = ['0', '2', '0', '0', '0', '0'] %}
{% block ev %}
    {{ super() }}
{% endblock %}

<!-- Abilities -->
{% set abilities = [['Levitate', 'This Pokemon is immune to Ground-type attacks, Spikes, Toxic Spikes and the Arena Trap ability; it loses these immunities while holding Iron Ball, after using Ingrain or if Gravity is in effect.']] %}
{% block abilities %}
    {{ super() }}
{% endblock %}

<!-- Learned Moves -->
{% set learned_moves = [] %}
{% block learned %}
    {{ super() }}
{% endblock %}

<!-- TMHM -->
{% set tmhm_list = None %}
{% set has_TMHM = False %}
{% block TMHM %}
    {{ super() }}
{% endblock %}

<!-- Tutor -->
{% set tutor_list = None %}
{% set has_tutor_moves = False %}
{% block tutor %}
    {{ super() }}
{% endblock %}

<!-- Egg Moves -->
{% set egg_move_list = None %}
{% set has_egg_moves = False %}
{% block egg_moves %}
    {{ super() }}
{% endblock %}