<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <!-- ------ Buttons ------ -->
    <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px; position: fixed; top: 10px; left: 10px;">
        <!-- Home Button -->
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/buttons/home.png') }}"
                 alt="Home"
                 style="width: 6vw; border-radius: 15px; 
                 box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
                 border: 2px solid black;
                 cursor: pointer;">
        </a>
        <!-- Events Button -->
        <a href="{{ url_for('events') }}">
            <img src="{{ url_for('static', filename='img/buttons/events.png') }}"
                 alt="Events"
                 style="width: 6vw; border-radius: 15px; 
                 box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
                 border: 2px solid black;
                 cursor: pointer;">
        </a>
        <!-- Book Button -->
        <a href="{{ url_for('view_book') }}">
            <img src="{{ url_for('static', filename='img/buttons/book.png') }}"
                 alt="Book"
                 style="width: 6vw; border-radius: 15px; 
                 box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
                 border: 2px solid black;
                 cursor: pointer;">
        </a>
    </div>
    
    <!-- Search Bar -->
     <div class="search_bar">
         <form method="POST" style="position: fixed; top: 10px; right: calc(10px);"> 
             <input type="number" id="dexInput" name="dexInput" style="width:40px; height:15px; background-color:#c2ffd1; resize:none; border:none; outline:none; padding:5px;" />
             <input type="submit" value="Search"> 
        </form>
            
        <style>
            /* Hide the spinner buttons */
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            
            /* For Firefox */
            input[type="number"] {
                -moz-appearance: textfield;
                appearance: textfield;
            }
        </style>

        <script>
            // Disable number input scroll and spinners
            document.getElementById('numInput').addEventListener('keydown', function(e) {
                if (e.key === 'ArrowUp' || e.key === 'ArrowDown') {
                    e.preventDefault();
                }
            });

            // Hide spinner buttons
            document.getElementById('numInput').addEventListener('mousewheel', function(e) {
                e.preventDefault();
            });
        </script>
    </div>

    <div class="sidebar"></div>

    <div class="content">
        <!-- Page Content -->
        {% block content %}
        {% endblock content %}
    </div>
    
    <!-- Right Side Bar
     
    -->
    <div class="sidebar"></div>
</body>
</html>