{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}
<div class="content-block">
    <!-- Time of Day -->
    <table style="position: fixed; top: 10px; right: 10px; width: 30vw;">
        <tr>
            <th> Morning </th>    
            <td> 4:00 AM - 9:59 AM </td>
        </tr>
        <tr>
            <th> Day </th>    
            <td> 10:00 AM - 7:59 PM </td>
        </tr>
        <tr>
            <th> Night </th>    
            <td> 8:00 PM - 3:59 AM </td>
        </tr>
    </table>

    <!-- Daily Table -->
    <h1>{{get_today()[0]}}</h1>
    <table>
        <tr>
            <th> Time </th>    
            <th> Event </th>
            <th> Description </th>
        </tr>
        {% for item in get_today()[1] %}
            <tr>
                <td> {{item[0]}} </td>
                <td> {{item[1]}} </td>
                <td> {{item[2]}} </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Every Day</h2>
    <table>
        <tr>
            <th>Time</th>
            <th>Event</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>All Day</td>
            <td>Ball Seals</td>
            <td>Olivine City</td>
        </tr>
        <tr>
            <td>All Day</td>
            <td>Pokemon Swarms</td>
            <td>Professor Oak's Talk Show</td>
        </tr>
        <tr>
            <td>All Day</td>
            <td>Vocabulary</td>
            <td>The house off Route 16. You need Cut.</td>
        </tr>
        <tr>
            <td>3pm - 4pm</td>
            <td>Daisy's Massage</td>
            <td>The only way in HGSS to increase beauty.</td>
        </tr>
        <tr>
            <td>2am, 5am, 8am, 11am, 2pm, 5pm, 8pm, and 11pm</td>
            <td>Buena's Password</td>
            <td>Tune in for the password.</td>
        </tr>
    </table>    

    <h1>All Events</h1>
    <!-- Rematch Table -->
    <h2>Gym Rematches</h2>
    <table>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Gym Leader</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>Morning</td>
            <td>Pryce</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>Daytime</td>
            <td>Janine</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>Night</td>
            <td>Morty</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>Morning</td>
            <td>Misty</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>Afternoon</td>
            <td>Jasmine</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>Night</td>
            <td>Chuck</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>Afternoon</td>
            <td>Bugsy</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>Afternoon</td>
            <td>Blaine</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>Morning</td>
            <td>Lt. Surge</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>Night</td>
            <td>Clair</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>Morning</td>
            <td>Falkner</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>Afternoon</td>
            <td>Whitney</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>Night</td>
            <td>Block</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>Morning</td>
            <td>Erika</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>Afternoon</td>
            <td>Sabrina</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>Night</td>
            <td>Blue</td>
        </tr>
    </table>    

    <!-- Fixed table -->
     <h2>Other Events</h2>
     <table>
        <tr>
            <th>Day</th>
            <th>Event</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>All Day</td>
            <td>Department Store Lottery: TM65 (Shadow Claw), Nest Ball, and Cheri Berry</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>All Day</td>
            <td>Bargain Shop: Goldenrod Underground</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>All Day</td>
            <td>SS Aquatic: Olivine City</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>All Day</td>
            <td>Rival Rematch: Indigo Plateau</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>8:00-11:59pm</td>
            <td>Clefairy Dance: Mt. Moon</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>All Day</td>
            <td>Department Store Lottery: TM91 (Flash Cannon), Repeat Ball, and Chesto Berry</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>All Day</td>
            <td>Bug Catching Contest: Once a day in the National Park</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>All Day</td>
            <td>Older Hairdresser: Goldenrod Underground</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>All Day</td>
            <td>Department Store Lottery: TM57 (Charge Beam), Net Ball, and Pecha Berry</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>All Day</td>
            <td>Younger Hairdresser: Goldenrod Underground</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>All Day</td>
            <td>SS Aquatic: Vermillion City</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>All Day</td>
            <td>Rival Rematch: Indigo Plateau</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>All Day</td>
            <td>Hoenn Sound: Pokegear</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>All Day</td>
            <td>Low Tide: Lake of Rage</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>All Day</td>
            <td>Department Store Lottery: TM60 (Drain Punch), Quick Ball, and Rawst Berry</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>All Day</td>
            <td>Bug Catching Contest: Once a day in the National Park</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>All Day</td>
            <td>Older Hairdresser: Goldenrod Underground</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>All Day</td>
            <td>Sinnoh Sound: Pokegear</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>All Day</td>
            <td>Department Store Lottery: TM42 (Facade), Dusk Ball, and Aspear Berry</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>All Day</td>
            <td>Younger Hairdresser: Goldenrod Underground</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>All Day</td>
            <td>SS Aquatic: Olivine City</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>All Day</td>
            <td>Lapras: Union Cave</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>All Day</td>
            <td>Department Store Lottery: TM62 (Silver Wind), Timer Ball, and Oran Berry</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>All Day</td>
            <td>Bug Catching Contest: Once a day in the National Park</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>All Day</td>
            <td>Older Hairdresser: Goldenrod Underground</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>All Day</td>
            <td>Herb Shop: Goldenrod Underground</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>All Day</td>
            <td>Department Store Lottery: TM02 (Dragon Claw), Luxury Ball, and Persim Berry</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>All Day</td>
            <td>Younger Hairdresser: Goldenrod Underground</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>All Day</td>
            <td>Herb Shop: Goldenrod Underground</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>All Day</td>
            <td>SS Aquatic: Vermillion City</td>
        </tr>
    </table>

    <!-- Ribbon Siblings -->
     <h2>Weekly Siblings</h2>
     <table>
        <tr>
            <th>Day</th>
            <th>Location</th>
            <th>Ribbon</th>
            <th>First Reward</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>Route 40</td>
            <td>Alert Ribbon</td>
            <td>Sharp Beak</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>Route 29</td>
            <td>Shock Ribbon</td>
            <td>Twisted Spoon</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>Lake of Rage</td>
            <td>Downcast Ribbon</td>
            <td>Black Belt</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>Route 36</td>
            <td>Careless Ribbon</td>
            <td>Hard Stone</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>Route 32</td>
            <td>Relax Ribbon</td>
            <td>Poison Barb</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>Blackthorn City</td>
            <td>Snooze Ribbon</td>
            <td>Soft Sand</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>Route 37</td>
            <td>Smile Ribbon</td>
            <td>Magnet</td>
        </tr>
    </table>
    
</div>
{% endblock %}