{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="content-block">
    <h1>Search Results for "{{searched}}"</h1>
    {% if result[1] %}
    <div class="searchPage">
        {% for category in result[0] %}
        <div class="searchBox">
        <h2>{{ category[0][0] }}</h2>
        <ul style="padding: 0;">
            {% for r in category[1:] %}
            <li>
                {% if category[0][1] == 'mon_page' %}
                <a href="{{url_for('mon_page', mon=r[0] )}}" class="navButton">
                    {{r[1]}}
                </a>
                {% else %}
                <a href="{{url_for(category[0][1], _anchor=r )}}" class="navButton">
                    {{r}}
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <center>
            <img src="{{url_for('static', filename='img/404img.png')}}" style="width: 30%;" />
            Nothing was found for {{searched}} Now we're all sad.
        </center>
    {% endif %}
</div>
{% endblock %}