/* Main Body */
body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    background-image: url('/static/img/tree.jpg');
}
.sidebar {
    width: 15%;
    display: flex;
}
.content {
    width: 70%;
    flex-grow: 1;
    background-color: hsla(122, 15%, 60%, 0.908);
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.5);
}
.content-block {
    padding: 20px;
}

/* Arrows */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #29643c;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #447052;
}
tr:nth-child(odd) {
    background-color: #789b83;
}

/* Text */
h1 {
    color: rgb(94, 35, 99);
}

h2 {
    color: rgb(94, 35, 99);
}

p {
    color: rgb(94, 35, 99);
    font-size: 1em;
}
p img{
    height: 1em;
    width: auto;
}

a {
    color: rgb(94, 35, 99);
    /*
    color: rgb(156, 57, 163);
    */
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
